@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,900;1,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgb(173, 173, 173);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app {
  background-color: rgba(33, 33, 33, 1);
  max-width: 480px;
}
.pre-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 1s;
  background-color: black;
}
main {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  transition: 0.5s;
}
.owner-pics {
  margin-top: 30px;
  border: solid 10px rgba(33, 33, 33, 1);
  width: 60%;
  height: 60%;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgb(20, 20, 20), 10px 0px 10px rgb(25, 25, 25),
    -5px -5px 10px rgb(53, 53, 53);
}
main h1 {
  font-size: 1rem;
}
main h2 {
  margin-top: 15px;
  font-size: 1.5rem;
}
main h3 {
  margin-top: 5px;
  font-size: 0.9rem;
}
.link-list {
  margin-top: 5px;
  padding: 15px;
}
.link-list a {
  margin-top: 20px;
  border-radius: 30px 10px;
  background: rgba(33, 33, 33, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgb(10, 10, 10), -2px -4px 10px rgb(53, 53, 53),
    inset -1px -1px 10px rgb(10, 10, 10), inset 1px 1px 10px rgb(53, 53, 53);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.link-list a:active {
  box-shadow: inset 0 4px 10px rgb(10, 10, 10),
    inset 0 -4px 10px rgb(53, 53, 53);
}
.link-icon {
  padding: 10px;
  width: 12%;
  height: 12%;
}
.link-name {
  padding: 10px;
}
.link-name * {
  padding: 2px;
}
.link-name h4 {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link-name p {
  font-size: 0.9rem;
}
.link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.link-img img {
  width: 80%;
}
footer {
  border-radius: 30% 30% 0 0;
  text-align: center;
  padding: 40px 0 20px 0;
  font-size: 0.5rem;
  background: rgb(26, 26, 26);
  box-shadow: 0 5px 10px rgb(10, 10, 10), 0 -5px 10px rgb(53, 53, 53);
}
footer span {
  color: rgb(160, 41, 41);
  text-shadow: 0px 0px 5px rgb(197, 0, 0);
}
footer p {
  margin-top: 5px;
  font-size: 0.8rem;
}

.new-label {
  padding: 2px 5px;
  border-radius: 5px;
  background: rgb(213, 53, 53);
  font-size: 0.8rem;
  color: rgba(33, 33, 33, 1);
  box-shadow: 0px 0px 5px rgb(255, 57, 57);
}
